<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <script>
        function confirms(){
            var name=prompt("姓名","")
            if(name!=null&&name!=""){
                document.write("你好"+name+"<br>");
                //Clock();
            }else{
                var n=confirm("请输入姓名");
                if(n==true)
                {
                    confirms();
                }
                else
                {
                    alert("你好懒,就不能输入姓名吗？");
                    confirms();
                }

                //alert("你还没有输入任何内容");
            }
        }
        confirms();
    </script>
    <title></title>
</head>
<body>
<input type="image" id="img1" src="http://b.hiphotos.baidu.com/exp/w=500/sign=0387a886e3fe9925cb0c695004a95ee4/c83d70cf3bc79f3dc1725473b9a1cd11738b29e5.jpg" onclick="alert('别点我')">
</body>
</html>