body {
	background: black;
	overflow: hidden;
}

.tank_div {
	width: 40px;
	height: 40px;
	background-image: url(tank.bmp);
	position: absolute;
}

.tanks_div {
	width: 40px;
	height: 40px;
	background-image: url(plane.bmp);
	position: absolute;
}

.shot_div {
	width: 4px;
	height: 4px;
	position: absolute;
	background: white;
}